<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
    nzBreakpoint="md"
    nzCollapsible
    nzWidth="256px"
  >
    <div class="sidebar-logo">
      <a
        href="https://ng.ant.design/"
        target="_blank"
      >
        <img
          src="https://ng.ant.design/assets/img/logo.svg"
          alt="logo"
        >
        <h1>IM Grid Frontend</h1>
      </a>
    </div>
    <ul
      [nzInlineCollapsed]="isCollapsed"
      nz-menu
      nzMode="inline"
      nzTheme="dark"
    >
      <li
        nz-submenu
        nzIcon="export"
        nzOpen
        nzTitle="Export"
      >
        <ul>
          <li
            nz-menu-item
            routerLinkActive="active"
          >
            <a routerLink="/welcome/mandator">Mandator</a>
          </li>
        </ul>
      </li>
      <li
        nz-submenu
        nzIcon="import"
        nzOpen
        nzTitle="Import"
      >
        <ul>
          <li
            nz-menu-item
            routerLinkActive="active"
          >
            <a routerLink="/welcome/queue">Queue</a>
          </li>
        </ul>
      </li>
      <li
        nz-submenu
        nzIcon="book"
        nzOpen
        nzTitle="System"
      >
        <ul>
          <li
            nz-menu-item
            routerLinkActive="active"
          >
            <a routerLink="/welcome/invoice">Invoice</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span
          class="header-trigger"
          (click)="isCollapsed = !isCollapsed"
        >
          <i
            class="trigger"
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            nz-icon
          ></i>
        </span>
        <div style="display: flex; align-items: center">
          <div style="display: flex; align-items: center">
            <nz-slider
              [(ngModel)]="value"
              [nzMax]="360"
              [nzMin]="0"
              [style.width.px]="180"
              (ngModelChange)="changeTheme($event)"
            ></nz-slider>
          </div>
          <nz-divider nzType="vertical"></nz-divider>
          <div>
            <a (click)="changeLocale(Locale.us)">en-US</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="changeLocale(Locale.gb)">en-GB</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="changeLocale(Locale.de)">de-DE</a>
          </div>
          <nz-divider nzType="vertical"></nz-divider>
          <div>
            <a (click)="changeLanguage('en')">English</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="changeLanguage('de')">Deutsch</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="changeLanguage('ar')">Arabic</a>
          </div>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
